@model PagedResultViewModel<WatchViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<h1>Список пользователей</h1>
<table class="table">
    <tr>
        <th>Фото</th>
        <th>Название</th>
        <th>Описание</th>
        <th>Цена</th>
        <th>Диаметр</th>
    </tr>
    @foreach (var watch in Model.Results)
    {
    <tr>
        <td>
            <img src="/images/Shop/@watch.Photo" />
        </td>
        <td>
            @watch.Title
        </td>
        <td>
            @watch.Description
        </td>
        <td>
            @watch.Price
        </td>
        <td>
            @watch.Diameter
        </td>
    </tr>
    }
</table>

@for (int i = 1; i <= Model.PageCount; i++)
{
    if (i == Model.CurrentPage)
    {
        <a asp-controller="Shop" asp-action="Index" asp-route-pageNum="@i" class="btn btn-outline-dark">
            Current
        </a>
    }
    else
    {
        <a asp-controller="Shop" asp-action="Index" asp-route-pageNum="@i" class="btn btn-outline-dark">
            @i
        </a>
    }
}