@model CartWrapperViewModel

@{
    ViewBag.Title = "Shopping Cart";
}

<div class="main-cart__container">
    <div class="cart">
        <div class="cart__container">
            <div class="cart__header">
                <h1 class="cart__header-title">shopping cart</h1>
            </div>

            <div class="cart__items">
                @if (Model is null || Model.ShoppingCarts.Count() == 0)
                {
                    <div class="cart__item">
                        <div class="cart-item__content">
                            <h3 style="color:#fff; font-weight: 300">Your Shopping Cart is empty</h3>
                        </div>
                    </div>
                }
                @foreach (var item in Model.ShoppingCarts)
                {
                    <div class="cart__item">
                        <div class="cart-item__content">
                            <form class="squaredThree">
                                <input type="hidden" name="watchId" value="@item.WatchId" class="watchIdInput" />
                                <input name="isChecked" asp-for="@item.IsChecked" class="checkboxInput" />
                            </form>
                            <img src="/images/Shop/@item.Watch.Photo" alt="" class="cart__item-img">
                            <div class="cart__item-block">
                                <span class="cart__item-title">@item.Watch.Title</span>
                                <span class="cart__item-descr">@item.Watch.Description</span>
                                <span class="cart__item-price">
                                    $ @(item.Watch.Price * item.Count)
                                    <span class="price__details">($ @item.Watch.Price x @item.Count)</span>
                                </span>
                            </div>
                        </div>
                        <div class="cart__item-control">
                            <a asp-controller="ShoppingCart" asp-action="Remove" asp-route-cartId="@item.Id">
                                <svg class="delete-svg" viewBox="0 0 512 512">
                                    <use xlink:href="/images/icons/delete.svg#delete"></use>
                                </svg>
                            </a>
                            <div class="watch-counter-setter">
                                <a class="cart-minus-btn" asp-controller="ShoppingCart" asp-action="ChangeCount" asp-route-watchId="@item.WatchId" asp-route-operation="@Operations.Minus">-</a>
                                <label class="cart-item-count">@item.Count</label>
                                <a class="cart-plus-btn" asp-controller="ShoppingCart" asp-action="ChangeCount" asp-route-watchId="@item.WatchId" asp-route-operation="@Operations.Plus">+</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="order__info">
            <h1 class="cart__header-title">Order Summary</h1>
            <p class="order__subtotal order__content">
                <span>Subtotal</span>
                <span>$@Math.Round(Model.OrderSummary.SubTotal, 2)</span>
            </p>
            <p class="order__shipping order__content">
                <span>Shipping</span>
                <span>$@Model.OrderSummary.Shipping</span>
            </p>
            <p class="order__shipping order__content">
                <span>Count</span>
                <span>@Model.OrderSummary.Count</span>
            </p>
            <p class="order__total order__content">
                <span>Total</span>
                <span>$@Math.Round(Model.OrderSummary.Total, 2)</span>
            </p>
            <a asp-controller="ShoppingCart" asp-action="Buy" class="buy__btn">BUY</a>
        </div>
    </div>
</div>

@section Scripts {
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="~/js/CartCheckbox.js"></script>
}