@model IEnumerable<ShoppingCartViewModel>

@{
    ViewBag.Title = "Shopping Cart";
}

<div class="main-cart__container">
    <div class="cart">
        <div class="cart__container">
            <div class="cart__header">
                <h1 class="cart__header-title">shopping cart</h1>
                <div class="checkbox__container">
                    <div class="squaredThree">
                        <input type="checkbox" id="mainCheck" name="check" />
                        <label for="mainCheck"></label>
                    </div>
                    <label for="squaredThree" class="bukvi">Choose all</label>
                </div>
            </div>

            <div class="cart__items">
                @if (Model is null || Model.Count() == 0)
                {
                <h3>Your Shopping Cart is empty</h3>
                }
                @foreach (var item in Model)
                {
                <div class="cart__item">
                    <div class="cart-item__content">
                        <form class="squaredThree" onchange="this.form.submit()">
                            <input type="checkbox" class="cart-checkbox" id="single1" name="check" asp-for="@item.IsChecked" />
                            <label for="single1"></label>
                        </form>
                        <img src="/images/Shop/@item.Watch.Photo" alt="" class="cart__item-img">
                        <div class="cart__item-block">
                            <span class="cart__item-title">@item.Watch.Title</span>
                            <span class="cart__item-descr">@item.Watch.Description</span>
                            <span class="cart__item-price">$@item.Watch.Price</span>
                        </div>
                    </div>
                    <div class="cart__item-control">
                        <a asp-controller="ShoppingCart" asp-action="Remove" asp-route-cartId="@item.Id">
                            Удалить
                        </a>
                        <form action="">
                            <input type="button" value="сердечко">
                        </form>
                        <div class="">
                            <a class="cart-minus-btn" asp-controller="ShoppingCart" asp-action="ChangeCount" asp-route-userId="@item.UserId" asp-route-watchId="@item.WatchId" asp-route-operation="@Operations.Minus">-</a>
                            <label class="cart-item-count">@item.Count</label>
                            <a class="cart-plus-btn" asp-controller="ShoppingCart" asp-action="ChangeCount" asp-route-userId="@item.UserId" asp-route-watchId="@item.WatchId" asp-route-operation="@Operations.Plus">+</a>
                        </div>
                    </div>
                </div>
                 }
            </div>
        </div>
        <form class="order__info">
            <h1 class="cart__header-title">Order Summary</h1>
            <p class="order__subtotal order__content">
                <span>Subtotal</span>
                <span>$12345</span>
            </p>
            <p class="order__shipping order__content">
                <span>Shipping</span>
                <span>$12345</span>
            </p>
            <p class="order__total order__content">
                <span>Total</span>
                <span>$12345</span>
            </p>
            <input type="button" class="buy__btn" value="BUY">
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/CartCheckbox.js"></script>
}