@model LoginRegisterBindingModel

@{
    ViewBag.Title = "Registration/Authorization";
}

<div class="login-register">
    <div class="login-register__container">
        <div class="login-register__header">
            <h3 class="login-register__title title_active">
                login
            </h3>
            <h3 class="login-register__title">
                register
            </h3>
        </div>
        <div class="login-register__froms">
            <form asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label asp-for="Login.Email" class="control-label"></label>
                    <div class="fake__form-input">
                        <input class="form-input" asp-for="Login.Email">
                    </div>
                    <div class="error__message-block">
                        <span asp-validation-for="Login.Email" class="form-span"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Login.Password" class="control-label"></label>
                    <div class="fake__form-input">
                        <input class="form-input" asp-for="Login.Password" type="password">
                    </div>
                    <div class="error__message-block">
                        <span asp-validation-for="Login.Password" class="form-span"></span>
                    </div>
                </div>
                <div class="form-group">
                    <input asp-for="@Model.Login.RememberMe" />
                    <label asp-for="@Model.Login.RememberMe" class="control-label"></label>
                </div>
                <div class="extended-group">
                    <input class="form-submit" type="submit" value="log in" />
                </div>
                <a asp-controller="Account" asp-action="ForgotPassword" class="forgotPassword">Forgot password?</a>
            </form>

            <form asp-controller="Account" asp-action="Registration" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form form_invisible">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label asp-for="Register.Email" class="control-label"></label>
                    <div class="fake__form-input">
                        <input asp-for="Register.Email" class="form-input">
                    </div>
                    <span asp-validation-for="Register.Email" class="form-span"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Register.Password" class="control-label"></label>
                    <div class="fake__form-input">
                        <input asp-for="Register.Password" class="form-input" type="password">
                    </div>
                    <span asp-validation-for="Register.Password" class="form-span"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Register.PasswordConfirmation" class="control-label"></label>
                    <div class="fake__form-input">
                        <input asp-for="Register.PasswordConfirmation" class="form-input" type="password">
                    </div>
                    <span asp-validation-for="Register.PasswordConfirmation" class="form-span"></span>
                </div>
                <div class="extended-group">
                    <input class="form-submit" type="submit" value="register" />
                </div>
            </form>
        </div>
        <div class="form-socials">
             <a class="social-form__link" asp-controller="Account" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" asp-route-provider="@VkontakteAuthenticationDefaults.AuthenticationScheme">
                <svg class="svg svg__vk_color" viewBox="0 0 112.196 112.196">
                    <use xlink:href="/images/icons/vk-color.svg#vk-color"></use>
                </svg>
            </a>
            <a class="social-form__link" asp-controller="Account" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" asp-route-provider="@GoogleDefaults.AuthenticationScheme">
                <svg class="svg svg__google_color" viewBox="0 0 512 512">
                    <use xlink:href="/images/icons/google-color.svg#google-color"></use>
                </svg>
            </a>
            <a class="social-form__link" asp-controller="Account" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" asp-route-provider="@FacebookDefaults.AuthenticationScheme">
                <svg class="svg svg__fb_color" viewBox="0 0 112.196 112.196">
                    <use xlink:href="/images/icons/facebook-color.svg#facebook-color"></use>
                </svg>
            </a> 
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/LoginRegister.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}