@model FilteredWatchViewModel

@{
    ViewData["Title"] = "Catalog";
}

<div class="main__container">
    <div class="filter">
        <div class="filter__container" style="width: 250px">
            <div class="filter__range">
                <h3>filter by price</h3>
                <div class="slider" data-value-0="#first" data-value-1="#second" data-range="#third"></div>
                <form class="box__container" asp-route-ItemsOnPage="@Model.ItemsOnPage" asp-route-Filter="@Model.Filter" method="POST">
                    <div class="values">
                        <div>$<spam name="StartPrice" id="first"></spam></div> - <div>$<span name="EndPrice" id="second"></span></div>
                        <input type="hidden" asp-for="@Model.PriceRange.StartPrice" class="zalupa__start" />
                        <input type="hidden" asp-for="@Model.PriceRange.EndPrice" class="zalupa__end" />
                        <input type="hidden" asp-for="@Model.PriceRange.StartBorder" />
                        <input type="hidden" asp-for="@Model.PriceRange.EndBorder" />
                    </div>
                    <input type="submit" value="Filter" class="submit__btn zalupa" />
                </form>
            </div>

            @*<div class="filter__diameter">
                <h3 class="diameter__title">
                    Filter by Diameter
                </h3>

                <form action="" method="POST">
                    <ul class="diameter__list">
                        <li class="diameter__item">
                            <a href="" class="diameter__link">
                                32
                            </a>
                        </li>
                        <li class="diameter__item">
                            <a href="" class="diameter__link">
                                39
                            </a>
                        </li>
                        <li class="diameter__item">
                            <a href="" class="diameter__link">
                                40
                            </a>
                        </li>
                        <li class="diameter__item">
                            <a href="" class="diameter__link">
                                41
                            </a>
                        </li>
                    </ul>
                </form>
            </div>*@
        </div>
    </div>

    <div class="catalog">
        <div class="catalog__container">
            <div class="catalog__header">
                <div class="catalog__info">
                    <p class="search-result">
                        Showing @Model.PageResult.SkippedItems - @Model.PageResult.CurrentItemsCount of @Model.PageResult.ItemsTotal results
                    </p>
                </div>

                <div class="select__group">
                    <form class="form-select" method="post" asp-route-ItemsOnPage="@Model.ItemsOnPage" asp-route-Filter="@Model.Filter">
                        <select asp-for="@Model.ItemsOnPage" asp-items="@Model.ItemsOnPageVM"
                                class="select" onchange="this.form.submit()"></select>
                    </form>
                    <form class="form-select" method="post" asp-route-ItemsOnPage="@Model.ItemsOnPage" asp-route-Filter="@Model.Filter">
                        <select asp-for="@Model.Filter" asp-items="@Html.GetEnumSelectList<Filter>()"
                                class="select" onchange="this.form.submit()"></select>
                    </form>
                </div>
            </div>

            <div class="catalog__items">
                @foreach (var watch in Model.PageResult.Results)
                {
                    <div class="card">
                        <div class="front">
                            <div class="front__description">
                                <img src="/images/Shop/@watch.Photo" alt="" class="item__img">
                                <p class="item__category">@watch.Gender</p>
                                <div class="item__title">@watch.Title</div>
                                <div class="item__price">$@watch.Price</div>
                            </div>
                        </div>
                        <div class="back">
                            <div class="back__description">
                                <div class="item__descr">@watch.Description</div>
                                <a class="item__wishlist">Add to wishlist</a>
                                <div class="item__descr">Count in stock: @watch.CountInStock</div>
                                <div class="item__descr">Count of sales: @watch.SaledCount</div>
                                <form class="catalog-cart-form" asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-watchId="@watch.Id" method="post">
                                    <input type="submit" value="Add to cart" class="submit__btn" />
                                </form>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="pagination">
                <div class="pagination__container">
                    @for (int i = Model.PageResult.Range.Start.Value; i <= Model.PageResult.Range.End.Value; i++)
                    {
                        if (i == Model.PageResult.CurrentPage)
                        {
                            <a asp-route-ItemsOnPage="@Model.ItemsOnPage" asp-route-Filter="@Model.Filter" asp-route-pageNum="@i" class="pagination__btn pagination__btn-active">@i</a>
                        }
                        else
                        {
                            <a asp-route-ItemsOnPage="@Model.ItemsOnPage" asp-route-Filter="@Model.Filter" asp-route-pageNum="@i" class="pagination__btn">@i</a>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js'></script>
    <script src='https://code.jquery.com/jquery-3.4.1.min.js'></script>
    <script src='https://code.jquery.com/ui/1.12.0/jquery-ui.min.js'></script>
    <script src="~/js/range.js"></script>
}