@model FilteredWatchViewModel

@{
    ViewData["Title"] = "Catalog";
}

<div class="main__container">
    <div class="filter">
        <div class="filter__container">
            <div class="filter__range">
                <h3>filter by price</h3>
                <div class="slider" data-value-0="#first" data-value-1="#second" data-range="#third"></div>
                <form class="box__container" method="POST">
                    <div class="values">
                        <div>$<span id="first"></span></div> - <div>$<span id="second"></span></div>
                    </div>
                    <input type="submit" value="Filter" class="submit__btn" />
                </form>
            </div>

            <div class="filter__diameter">
                <h3 class="diameter__title">
                    Filter by Diameter
                </h3>

                <form action="" method="POST">
                    <ul class="diameter__list">
                        <li class="diameter__item">
                            <a href="" class="diameter__link">
                                32
                            </a>
                        </li>
                        <li class="diameter__item">
                            <a href="" class="diameter__link">
                                39
                            </a>
                        </li>
                        <li class="diameter__item">
                            <a href="" class="diameter__link">
                                40
                            </a>
                        </li>
                        <li class="diameter__item">
                            <a href="" class="diameter__link">
                                41
                            </a>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>

    <div class="catalog">
        <div class="catalog__container">
            <div class="catalog__header">
                <div class="catalog__info">
                    <p class="search-result">
                        Showing @Model.PageResult.SkippedItems - @Model.PageResult.CurrentItemsCount of @Model.PageResult.ItemsTotal results
                    </p>
                </div>

                <div class="select__group">
                    <form asp-controller="Catalog" asp-action="Index" class="form-select" method="post">
                        <select class="select" asp-for="@Model.ItemsOnPage" onchange="this.form.submit()">
                            <option class="select__item">
                                12
                            </option>
                            <option class="select__item">
                                24
                            </option>
                            <option class="select__item">
                                36
                            </option>
                        </select>
                    </form>
                    <form asp-controller="Catalog" asp-action="Index" method="post" class="form-select">
                        <select asp-for="@Model.Filter" asp-items="@Html.GetEnumSelectList<Filter>()"
                                class="select" onchange="this.form.submit()"></select>
                    </form>
                </div>
            </div>

            <div class="catalog__items">
                @foreach (var watch in Model.PageResult.Results)
                {
                    <div class="card">
                        <div class="front">
                            <div class="front__description">
                                <img src="/images/Shop/@watch.Photo" alt="" class="item__img">
                                <p class="item__category">@watch.Gender.Title</p>
                                <div class="item__title">@watch.Title</div>
                                <div class="item__price">$@watch.Price</div>
                            </div>
                        </div>
                        <div class="back">
                            <div class="back__description">
                                <div class="item__descr">@watch.Description</div>
                                <a class="item__wishlist">Add to wishlist</a>
                                <input type="submit" value="Add to cart" class="submit__btn" />
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="pagination">
                <div class="pagination__container">
                    @for (int i = Model.PageResult.Range.Start.Value; i <= Model.PageResult.Range.End.Value; i++)
                    {
                        if (i == Model.PageResult.CurrentPage)
                        {
                            <a asp-controller="Catalog" asp-action="Index" asp-route-pageNum="@i" class="pagination__btn pagination__btn-active">@i</a>
                        }
                        else
                        {
                            <a asp-controller="Catalog" asp-action="Index" asp-route-pageNum="@i" class="pagination__btn">@i</a>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js'></script>
    <script src='https://code.jquery.com/jquery-3.4.1.min.js'></script>
    <script src='https://code.jquery.com/ui/1.12.0/jquery-ui.min.js'></script>
    <script src="~/js/range.js"></script>
}